@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: black;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  font-size: 25px;
  font-weight: 800;
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #09f9e9;
}

/* visited link */
a:visited {
  color: #dbdff9;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #aedfdb;
}

.nav {
  padding: 1% 0;
}

.nav li {
  display: inline;
  list-style-type: none;
  margin-left: 24px;
}

.nav ul {
  padding-left: 0;
}

section {
  min-height: 200px;
  padding: 3% 1.5%;
  /* background-color: #ccc; */
}

footer {
  font-weight: 800;
  padding: 1% 0;
}

.datetimecontainer input {
  width: 20%;
  padding: 0.5rem;
}

input,
textarea {
  width: 30%;
  border-radius: 5px;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fb9fa0;
}

.cart {
  float: right;
  /* font-size: 30px;
  font-weight: 800;
  padding: 0.25rem; */
}

.pricing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/home-massage-modern.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-weight: 900;
}

.contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("./images/massage-mother'sday.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
    url("./images/home-massage-dtla1.png");
  background-size: cover;
  width: 100%;
  background-position: center center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;

  /* text-shadow: 2px 2px white; */
}

.about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("./images/massage-office.jpg");
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  background-position: center left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: 900;
}

.aboutSection {
  background-color: rgb(24, 23, 22, 0.5);
  margin: 0 35px;
  padding: 35px 35px;
}

.aboutSection h3 {
  font-weight: 900;
  text-shadow: 1px solid black;
}

.bg-image {
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Images used */
img {
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* Position text in the middle of the page/image */
.bg-text {
  font-weight: bold;
  border: 10px solid #f1f1f1;
  margin: 80px auto;
  display: flex;
  align-items: center;
  max-width: 90%;
  font-size: 18vw;
  padding: 20px;
  text-align: center;
}

.sm-text {
  font-weight: bold;
  border: 8px solid #f1f1f1;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  font-size: 5vw;
  padding: 10px;
  text-align: center;
}

.gallery {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
input[type="radio"]:checked + label {
  background-color: darkred;
}

.pricingContainer label {
  display: flex;
  border-radius: 4px;
}

@media all and (min-width: 800px) {
  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
      url("./images/home-massage-modern.png");
    background-size: cover;
  }

  .contact {
    background-position: center top;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.35)),
      url("./images/massage-office.jpg");
  }

  .about {
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
      url("./images/massage-sushi3.jpg");
  }

  .pricing {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
      url("./images/home-massage-dtla.png");
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 900;
  }

  .aboutSection h3 {
    font-size: 5vh;
  }

  .sm-text {
    font-weight: bold;
    border: 8px solid #f1f1f1;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 25%;
    font-size: 1.5vw;
    padding: 10px;
    text-align: center;
  }

  .bg-text {
    font-weight: bold;
    border: 10px solid #f1f1f1;
    margin: 80px auto;
    display: flex;
    align-items: center;
    max-width: 35%;
    height: 35%;
    font-size: 7vw;
    padding: 20px;
    text-align: center;
  }
  img {
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    width: 70%;
    height: 100%;
  }
}
