@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  background-color: black;
  text-align: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: #dbdff9;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.nav {
  padding: 1% 0;
}

.nav li {
  display: inline;
  list-style-type: none;
  margin-left: 1.5rem;
}

section {
  min-height: 200px;
  padding: 3% 1.5%;
  /* background-color: #ccc; */
}

footer {
  font-weight: 800;
  padding: 1% 0;
}

.datetimecontainer input {
  width: 20%;
  padding: 0.5rem;
}

input,
textarea {
  width: 30%;
  border-radius: 5px;
  padding: 0.25rem;
  margin-bottom: 0.25rem;
}

button {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #fb9fa0;
}

.cart {
  float: right;
  /* font-size: 30px;
  font-weight: 800;
  padding: 0.25rem; */
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price {
  display: flex;
  flex-direction: column;
  border: 0.25rem solid black;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
}

.contact {
  background-image: url("./images/massage-sushi1.jpg");
  background-size: 35%;
  background-position: center;
  background-repeat: no-repeat;
}

.home {
  background-image: url("./images/home-massage-dtla.png");
  background-size: 55%;
  background-position: center;
  background-repeat: no-repeat;
}

@media all and (min-width: 800px) {
  .pricing {
    flex-direction: row;
  }
}
